<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <a href="http://localhost:3000/directors">List of Directors</a>
 <br></br>
 <a href="http://localhost:3000/actors">List of Actors</a>
 <br></br>
 <a href="http://localhost:3000/movies">List of Movies</a>

<%= yield %>

</body>
</html>
